<div class="common-form">
	<div class="row">
		<div class="col-sm">
			{{ form_start(form, {
                'action': (appointment is defined and appointment.id is not null) 
					? path('app_admin_appointment_edit', {'id': appointment.id}) 
					: path('app_admin_appointment_new'),
                'method': 'POST',
                'attr': {'novalidate': 'novalidate'}
            }) }}
			{# THông tin bệnh nhân #}
			<div
				class="row">
				{# Thông tin liên hệ của bệnh nhân #}
				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.patientFullname, 'Tên bệnh nhân') }}
					{{ form_widget(form.patientFullname, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientFullname) }}</div>
				</div>

				{# Bác sĩ #}
				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.doctor, 'Bác sĩ khám') }}
					{{ form_widget(form.doctor, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.doctor) }}</div>
				</div>

				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.patientPhoneNumber, 'Số điện thoại') }}
					{{ form_widget(form.patientPhoneNumber, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientPhoneNumber) }}</div>
				</div>

				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.patientDateOfBirth, 'Ngày sinh') }}
					{{ form_widget(form.patientDateOfBirth, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientDateOfBirth) }}</div>
				</div>

				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.patientGender, 'Giới tính') }}
					{{ form_widget(form.patientGender, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientGender) }}</div>
				</div>

				{# Ngày và giờ hẹn #}
				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.appointmentDate, 'Ngày hẹn') }}
					{{ form_widget(form.appointmentDate, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.appointmentDate) }}</div>
				</div>

				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.appointmentTime, 'Giờ hẹn') }}
					{{ form_widget(form.appointmentTime, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.appointmentTime) }}</div>
				</div>


				<div class="col-6 col-md-3 mb-3">
					{{ form_label(form.price) }}
					<div class="input-group-append">
						{{ form_widget(form.price) }}
						<span class="input-group-text" id="basic-addon2">VNĐ</span>
					</div>
					<div class="valid-feedback">
						{{ form_errors(form.price) }}
					</div>
				</div>

				<div
					class="row col-12">
					{# Trạng thái và giá #}
					<div class="col-6 col-md-3 mb-3 font-weight-bold">
						{{ form_label(form.status, 'Trạng thái') }}
						<span class="font-weight-bold">(<span class="text-danger">*</span>)</span>
						{{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
						<div class="invalid-feedback">{{ form_errors(form.status) }}</div>
					</div>

					<div class="col-6 col-md-9 mb-3">
						{{ form_label(form.reason, 'Lý do khám') }}
						{{ form_widget(form.reason, {'attr': {'class': 'form-control'}}) }}
						<div class="invalid-feedback">{{ form_errors(form.reason) }}</div>
					</div>
				</div>

				<div class="col-md-5 mb-3  font-weight-bold">
					{{ form_label(form.patientEmail, 'Email') }}
					<span class="font-weight-bold">(<span class="text-danger">*</span>)</span>
					{{ form_widget(form.patientEmail, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientEmail) }}</div>
				</div>

				<div class="col-md-7 mb-3">
					{{ form_label(form.patientAddress, 'Địa chỉ') }}
					{{ form_widget(form.patientAddress, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.patientAddress) }}</div>
				</div>
			</div>

			<div
				class="row">
				{# Trạng thái thanh toán #}
				<div class="col-md-6 mb-3">
					{{ form_label(form.paymentStatus, 'Trạng thái thanh toán') }}
					{{ form_widget(form.paymentStatus, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.paymentStatus) }}</div>
				</div>

				<div class="col-md-6 mb-3">
					{{ form_label(form.forWho, 'Người khám') }}
					{{ form_widget(form.forWho, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.forWho) }}</div>
				</div>
			</div>

			<div
				class="row">
				{# Lý do khám & Ghi chú #}
				<div class="col-md-6 mb-3">
					{{ form_label(form.note, 'Ghi chú') }}
					{{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.note) }}</div>
				</div>

				{# Kết quả & Trạng thái kết quả #}
				<div class="col-md-6 mb-3  font-weight-bold">
					{{ form_label(form.result, 'Kết quả') }}
					<span class="font-weight-bold">(<span class="text-danger">*</span>)</span>
					{{ form_widget(form.result, {'attr': {'class': 'form-control'}}) }}
					<div class="invalid-feedback">{{ form_errors(form.result) }}</div>
				</div>
			</div>

			{# Nút submit #}
			<div class="text-center my-4">
				<button class="btn btn-primary" type="submit">
					{{(appointment is defined and appointment.id is not null) 
					? 'Cập nhật lịch hẹn' : 'Tạo lịch hẹn'}}</button>
			</div>

			<input type="hidden" name="{{ form.patient.vars.full_name }}" value="{{ form.patient.vars.value }}">


			{{ form_row(form._token) }}

			{{ form_end(form, {'render_rest': false}) }}
		</div>
	</div>
