{% extends 'baseAdmin.html.twig' %}

{% block title %}Danh sách bác sĩ
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid pb-5">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7 col-auto">
						<h3 class="page-title">Bác sĩ</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{path("app_admin_dashboard")}}">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Bác sĩ</li>
						</ul>
					</div>
					<div class="col-sm-5 col">
						<a href="{{ path('app_doctor_listDel') }}" class="btn btn-danger float-right m-2">
							<i class="fe fe-trash"></i>
							BS ngừng làm việc</a>
						<a href="{{ path('app_doctor_new') }}" class="btn btn-primary float-right m-2">Thêm mới</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr class="text-center">
											<th>Mã BS</th>
											<th>Ảnh</th>
											<th>Phòng khám</th>
											<th>Chuyên khoa</th>
											<th>Giới tính</th>
											<th>Phí khám</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for doctor in doctors %}
											<tr class="text-center">
												<td>{{ doctor.id }}</td>

												<td>
													<h2 class="table-avatar">
														<a href="{{path('app_doctor_show',{'id':doctor.id})}}" class="avatar avatar-sm mr-2">
															<img class="avatar-img" src="{{ doctor.image ? asset('uploads/users/' ~ doctor.image) : asset('admin/assets/img/specialities/specialities-01.png') }}" alt="{{ doctor.fullName }}">
														</a>
														<a href="{{path('app_doctor_show',{'id':doctor.id})}}">{{ doctor.fullName }}</a>
													</h2>
												</td>

												<td>{{ doctor.specialty.name | specialty_label }}</td>
												<td>{{ doctor.specialty.clinicNumber ?? 'Trống' }}</td>
												<td>{{doctor.gender ? doctor.gender | gender_label : 'Trống'}}</td>
												<td>{{ doctor.consultationFee is not null ? (doctor.consultationFee | currency_vnd) : 'Trống' }}</td>


												<td class="text-center">
													<div class="actions">
														<a class="btn btn-sm bg-info-light" href="{{ path('app_doctor_show', {'id': doctor.id}) }}">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
															Xem
														</a>
														<a class="btn btn-sm bg-success-light" href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">
															<i class="fe fe-pencil"></i>
															Sửa
														</a>

														<a href="#" class="btn btn-sm bg-danger-light delete-btn" data-id="{{ doctor.id }}" data-token="{{ csrf_token('delete' ~ doctor.id) }}" data-toggle="modal" data-target="#delete_modal">
															<i class="fe fe-trash"></i>
															Xóa
														</a>
													</div>
												</td>
											</tr>
										{% else %}
											<tr>
												<td class="text-center" colspan="6">Chưa có dữ liệu</td>
											</tr>
										{% endfor %}

									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-content p-2">
					<h4 class="modal-title">Xác nhận xóa</h4>
					<p class="mb-4">Bạn có chắc chắn muốn cho bác sĩ này nghỉ việc?</p>
					<form id="delete_form" method="post" class="text-center">
						<input
						type="hidden" name="_method" value="DELETE">
						{# Giả lập DELETE #}
						<input
						type="hidden" name="_token" id="delete_token">
						{# Chứa CSRF Token #}
						<button type="submit" class="btn btn-primary">Xóa</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>

<!-- /Delete Modal -->
<!-- /Page Wrapper -->{% endblock %}{% block JSCustom %}
<script>
	document.addEventListener("DOMContentLoaded", function () {
document.querySelectorAll(".delete-btn").forEach(button => {
button.addEventListener("click", function () {
let id = this.getAttribute("data-id");
let token = this.getAttribute("data-token");
let form = document.getElementById("delete_form");

// Cập nhật action đúng URL
form.action = "/admin/doctor/" + id + "/delete";

// Thêm CSRF Token vào input
document.getElementById("delete_token").value = token;
});
});
});
</script>{% endblock %}
