{% extends 'baseCustomer.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
								
							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="{{asset('customer/assets/img/login-banner.png')}}" class="img-fluid" alt="Doccure Register">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3 class="text-center">Đăng ký tài khoản</h3>
										</div>

                                          {{ form_errors(registrationForm) }}

                                            {{ form_start(registrationForm) }}

                                                <div class="form-group form-focus">
                                                    {{ form_row(registrationForm.email) }}
                                                </div>

                                                <div class="form-group form-focus">
                                                    {{ form_row(registrationForm.plainPassword) }}
                                                </div>
                                             <div>
                                                <label class="custom_check">
                                                    {{ form_widget(registrationForm.agreeTerms, {
                                                        'attr': {'class': 'custom-checkbox'}
                                                    }) }}
                                                    <span class="checkmark"></span> Tôi đồng ý với các điều khoản
                                                </label>
                                                {{ form_errors(registrationForm.agreeTerms) }}
                                            </div>

                                            <div class="text-right">
												<a class="forgot-link" href="/login">Bạn đã có tài khoản?</a>
											</div>
                                            {# Submit đăng ký #}
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Đăng ký</button>

											<div class="login-or">
												<span class="or-line"></span>
												<span class="span-or">hoặc</span>
											</div>
											<div class="row form-row social-login">
												{# <div class="col-6">
													<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
												</div> #}
												<div class="col-12">
													<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
												</div>
											</div>

                                                {# <button type="submit" class="btn">Register</button> #}
                                            {{ form_end(registrationForm) }}
										
									</div>
								</div>
							</div>
							<!-- /Register Content -->
								
						</div>
					</div>

				</div>

			</div>		
<!-- /Page Content -->


  
{% endblock %}


