{% extends 'baseAdmin.html.twig' %}

{% block title %}Danh sách bệnh nhân
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid pb-5">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7 col-auto">
						<h3 class="page-title">Bệnh nhân</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{path("app_admin_dashboard")}}">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Bệnh nhân</li>
						</ul>
					</div>
					<div class="col-sm-5 col">
						<a href="{{ path('app_admin_patient_new') }}" class="btn btn-primary float-right mt-2">Thêm mới</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr class="text-center">
											<th>Mã BN</th>
											<th>Ảnh</th>
											<th>Ngày sinh</th>
											<th>Giới tính</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for patient in patients %}
											<tr class="text-center">
												<td>{{ patient.id }}</td>

												<td>
													<h2 class="table-avatar">
														<a href="{{path('app_admin_patient_show', {'id': patient.id})}}" class="avatar avatar-sm mr-2">
															{% if patient.googleId %}
																<img class="avatar-img" src="{{ patient.image ? asset(patient.image) : asset('uploads/users/defaultUser.png') }}" alt="{{ patient.fullName }}">
															{% else %}
																<img class="avatar-img" src="{{ patient.image ? asset('uploads/users/' ~ patient.image) : asset('uploads/users/defaultUser.png') }}" alt="{{ patient.fullName }}">
															{% endif %}
														</a>
														<a href="{{path('app_admin_patient_show', {'id': patient.id})}}">{{ patient.fullname }}</a>
													</h2>
												</td>

												<td>{{ patient.dateOfBirth ? patient.dateOfBirth|date('d/m/Y') : 'Trống' }}</td>

												<td>{{patient.gender ?? 'Trống'}}</td>

												<td class="text-center">
													<div class="actions">
														<a class="btn btn-sm bg-info-light" href="{{ path('app_admin_patient_show', {'id': patient.id}) }}">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
															Xem
														</a>
														<a class="btn btn-sm bg-success-light" href="{{ path('app_admin_patient_edit', {'id': patient.id}) }}">
															<i class="fe fe-pencil"></i>
															Sửa
														</a>
														{# <a class="btn btn-sm bg-danger-light">
																																																																																																																	<i class="fe fe-trash"></i>
																																																																																																																	Xóa
																																																																																																																</a> #}
													</div>
												</td>
											</tr>
										{% else %}
											<tr>
												<td class="text-center" colspan="5">Chưa có dữ liệu</td>
											</tr>
										{% endfor %}

									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->{% endblock %}
