{% extends 'baseAdmin.html.twig' %}

{% block title %}Thông tin Bệnh nhân
{% endblock %}

{% block body %}
	<div class="page-wrapper">
		<div
			class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Thông tin Bệnh nhân</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{path('app_admin_dashboard')}}">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Thông tin Bệnh nhân</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="mb-2">
				<a class="btn btn-sm btn-warning rounded mr-2" href="{{path('app_admin_patient')}}">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Trở về</a>
			</div>

			<div class="doctor-info">
				<div class="row">
					<div class="col-md-4">
						{% if user.googleId %}
							<img src="{{ asset(user.image) }}" alt="Ảnh Bệnh nhân" class="img-fluid rounded-circle" style="width: 200px; height: auto;">
						{% else %}
							<img src="{{ asset('uploads/users/' ~ user.image) }}" alt="Ảnh Bệnh nhân" class="img-fluid rounded-circle" style="max-width: 100%; height: auto;">
						{% endif %}

					</div>
					<div class="col-md-8">
						<h4>{{ user.fullname }}</h4>
						<p>
							<strong>Email:</strong>
							{{ user.email }}</p>
						<p>
							<strong>Số điện thoại:</strong>
							{{ user.phoneNumber }}</p>
						<p>
							<strong>Địa chỉ:</strong>
							{{ user.address }}</p>
						<p>
							<strong>Ngày sinh:</strong>
							{{ user.dateOfBirth|date('d/m/Y') }}</p>
						<p>
							<strong>Giới tính:</strong>
							{{ user.gender }}</p>
					</div>
				</div>
			</div>

			<!-- Action buttons -->
			<div class="action-links mt-2 text-center">
				<a href="{{ path('app_admin_patient_edit', {'id': user.id}) }}" class="btn btn-primary">Chỉnh sửa</a>
				<a href="{{ path('app_admin_patient_delete', {'id': user.id}) }}" class="btn btn-danger">Xóa</a>
			</div>
		</div>
	</div>
{% endblock %}
