{% extends 'baseAdmin.html.twig' %}

{% block title %}Thêm mới lịch cho bác sĩ

{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7 col-auto">
						<h3 class="page-title">Tạo lịch làm việc</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Tạo lịch làm việc</li>
						</ul>
					</div>
					{# <div class="col-sm-5 col">
											<a href="{{ path('app_doctor_new') }}" class="btn btn-primary float-right mt-2">Thêm mới</a>
										</div> #}
				</div>
			</div>
			<!-- /Page Header -->
			{# <form method="post" action="{{ path('create_schedule') }}">
				<label for="doctor_id">Chọn bác sĩ:</label>
				<select name="doctor_id" id="doctor_id">
					{% for doctor in doctors %}
						<option value="{{ doctor.id }}">{{ doctor.fullname }}</option>
					{% endfor %}
				</select>

				<label for="date">Ngày khám:</label>
				<input type="date" name="date" id="date" required>

				<label for="max_patients">Số bệnh nhân tối đa mỗi ca:</label>
				<input type="number" name="max_patients" id="max_patients" value="1" required>

				<div id="time_slots">
					{% for slot in time_slots %}
						<label>
							<input type="checkbox" name="time_slots[]" value="{{ slot }}">
							{{ slot }}
						</label>
					{% endfor %}
				</div>

				<button type="submit">Tạo lịch làm việc</button>
			</form> #}
			{{ include('admin/schedule_work/_form.html.twig') }}

		</div>
	</div>

{% endblock %}
