{% extends 'baseCustomer.html.twig' %}

{% block title %}Xác nhận thanh toán
{% endblock %}

{% block body %}
	<form method="POST" action="{{ path('process_appointment') }}" class="p-4 border rounded shadow-sm bg-light">
		<input type="hidden" name="doctorId" value="{{ doctor.id }}">
		<input type="hidden" name="date" value="{{ date|date('Y-m-d') }}">
		<input type="hidden" name="timeSlot" value="{{ timeSlot }}">
		<div class="row">
			<h2 class="p-3 bg-info text-white text-center rounded col-12">Nhập thông tin xác nhận đặt lịch</h2>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Họ tên bệnh nhân:</label>
				<input type="text" name="patientFullname" class="form-control" value="{{ patient.fullname }}" required>
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Ngày sinh:</label>
				<input type="date" name="patientDateOfBirth" class="form-control" value="{{ patient.dateOfBirth|date('Y-m-d') }}" required>
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Số điện thoại:</label>
				<input type="text" name="patientPhoneNumber" class="form-control" value="{{ patient.phoneNumber }}" required>
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Địa chỉ:</label>
				<input type="text" name="patientAddress" class="form-control" value="{{ patient.address }}" required>
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Giới tính:</label>
				<select name="patientGender" class="form-control" required>
					<option value="Male" {{ patient.gender == 'Male' ? 'selected' : '' }}>Nam</option>
					<option value="Female" {{ patient.gender == 'Female' ? 'selected' : '' }}>Nữ</option>
				</select>
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Email:</label>
				<input type="email" name="patientEmail" class="form-control" value="{{ patient.email }}">
			</div>

			<div class="form-group col-md-6">
				<label class="font-weight-bold">Đặt lịch cho:</label>
				<select name="forWho" class="form-control" required>
					<option value="self">Bản thân</option>
					<option value="relative">Người thân</option>
				</select>
			</div>

			<div class="form-group col-md-12">
				<label class="font-weight-bold">Lý do khám:</label>
				<textarea name="reason" class="form-control" required></textarea>
			</div>

			<button type="submit" class="btn btn-primary btn-block col-12">Xác nhận đặt lịch</button>

		</div>

	</form>

{% endblock %}
