{% extends 'baseAdmin.html.twig' %}

{% block title %}Trang quản trị
{% endblock %}
{% block StyleCustom %}
	<!-- Morris CSS -->
	<link rel="stylesheet" href="{{asset('admin/assets/plugins/morris/morris.css')}}">
{% endblock %}
{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<div
			class="content container-fluid pb-5">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Welcome Admin!</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-xl-3 col-sm-6 col-12">
					<a href="{{path('app_doctor_index')}}">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon text-primary border-primary">
										<i class="fe fe-users"></i>
									</span>
									<div class="dash-count">
										<h3>{{totalDoctor}}</h3>
									</div>
								</div>
								<div class="dash-widget-info">
									<h6 class="text-muted">Bác sĩ</h6>
									<div class="progress progress-sm">
										<div class="progress-bar bg-primary w-50"></div>
									</div>
								</div>
							</div>
						</div>
					</a>

				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<a href="{{path('app_admin_patient')}}">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon text-success">
										<i class="fe fe-credit-card"></i>
									</span>
									<div class="dash-count">
										<h3>{{totalPatient}}</h3>
									</div>
								</div>
								<div class="dash-widget-info">

									<h6 class="text-muted">Bệnh nhân</h6>
									<div class="progress progress-sm">
										<div class="progress-bar bg-success w-50"></div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<a href="{{path('app_admin_appointment')}}">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon text-danger border-danger">
										<i class="fe fe-money"></i>
									</span>
									<div class="dash-count">
										<h3>{{totalAppointment}}</h3>
									</div>
								</div>
								<div class="dash-widget-info">

									<h6 class="text-muted">Cuộc hẹn</h6>
									<div class="progress progress-sm">
										<div class="progress-bar bg-danger w-50"></div>
									</div>
								</div>
							</div>
						</div>
					</a>

				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<a href="{{path('app_admin_appointment')}}">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon text-warning border-warning">
										<i class="fe fe-folder"></i>
									</span>
									<div class="dash-count">
										<h3>{{totalRevenue | currency_vnd}}</h3>
									</div>
								</div>
								<div class="dash-widget-info">

									<h6 class="text-muted">Tổng doanh thu</h6>
									<div class="progress progress-sm">
										<div class="progress-bar bg-warning w-50"></div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			{# <div class="row">
												<div class="col-md-12 col-lg-6">
												
													<!-- Sales Chart -->
													<div class="card card-chart">
														<div class="card-header">
															<h4 class="card-title">Revenue</h4>
														</div>
														<div class="card-body">
															<div id="morrisArea"></div>
														</div>
													</div>
													<!-- /Sales Chart -->
													
												</div>
												<div class="col-md-12 col-lg-6">
												
													<!-- Invoice Chart -->
													<div class="card card-chart">
														<div class="card-header">
															<h4 class="card-title">Status</h4>
														</div>
														<div class="card-body">
															<div id="morrisLine"></div>
														</div>
													</div>
													<!-- /Invoice Chart -->
													
												</div>	 #}
			<div class="row">
				<div
					class="col-lg-6 d-flex">

					<!-- Recent Orders -->
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Danh sách bác sĩ</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr class="text-center">
											<th>Tên</th>
											<th>Chuyên khoa</th>
											<th>Giá khám</th>
											{# <th>Tổng thu nhập</th> #}
											{# <th>Reviews</th> #}
										</tr>
									</thead>
									<tbody>
										{% for doctor in doctors %}
											<tr class="text-center">
												<td>
													<h2 class="table-avatar">
														<a href="{{path('app_doctor_show', {'id': doctor.id})}}" class="avatar avatar-sm mr-2">

															{% if doctor.googleId %}
																<img class="avatar-img rounded-circle" src="{{ doctor.image ? asset(doctor.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% else %}
																<img class="avatar-img rounded-circle" src="{{ doctor.image ? asset('uploads/users/' ~ doctor.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% endif %}

														</a>
														<a href="{{path('app_doctor_show', {'id': doctor.id})}}">{{doctor.fullname ?? 'Trống'}}</a>
													</h2>
												</td>
												<td>{{doctor.specialty.name ? doctor.specialty.name | specialty_label : 'Trống'}}</td>
												<td>{{doctor.consultationFee | currency_vnd}}</td>
												{# <td>
																																																																																	<i class="fe fe-star text-warning"></i>
																																																																																	<i class="fe fe-star text-warning"></i>
																																																																																	<i class="fe fe-star text-warning"></i>
																																																																																	<i class="fe fe-star text-warning"></i>
																																																																																	<i class="fe fe-star-o text-secondary"></i>
																																																																																</td> #}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Recent Orders -->

				</div>
				<div
					class="col-lg-6 d-flex">

					<!-- Feed Activity -->
					<div class="card  card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Danh sách bệnh nhân</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr class="text-center">
											<th>Tên</th>
											<th>SĐT</th>
											<th>Ngày sinh</th>
											<th>Giới tính</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>

										{% for patient in patients %}

											<tr class="text-center">
												<td>
													<h2 class="table-avatar">
														<a href="{{path('app_admin_patient_show', {'id': patient.id})}}" class="avatar avatar-sm mr-2">

															{% if patient.googleId %}
																<img class="avatar-img rounded-circle" src="{{ patient.image ? asset(patient.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% else %}
																<img class="avatar-img rounded-circle" src="{{ patient.image ? asset('uploads/users/' ~ patient.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% endif %}

														</a>
														<a href="{{path('app_admin_patient_show', {'id': patient.id})}}">{{ patient.fullname ?? 'Trống' }}
														</a>
													</h2>
												</td>
												<td>{{ patient.phoneNumber ?? 'Trống' }}</td>
												<td>{{  patient.dateOfBirth ?  patient.dateOfBirth | date('d-m-Y') : 'Trống' }}</td>
												<td>{{ patient.gender ?? 'Trống' }}</td>
												<td>{{ patient.email ?? 'Trống' }}</td>
												{# <td class="text-right">$100.00</td> #}
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Feed Activity -->

				</div>
			</div>
			<div class="row">
				<div
					class="col-md-12">

					<!-- Recent Orders -->
					<div class="card card-table">
						<div class="card-header">
							<h4 class="card-title">Danh sách cuộc hẹn hôm nay</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr class="text-center">
											<th>Tên bác sĩ</th>
											<th>Chuyên khoa</th>
											<th>Tên bệnh nhân</th>
											<th>Thời gian đặt</th>
											<th>Trạng thái</th>
											<th>Giá</th>
										</tr>
									</thead>
									<tbody>
										{% for app in appointments %}

											<tr class="text-center">
												<td>
													<h2 class="table-avatar">
														<a href="{{path('app_doctor_show', {'id': app.doctor.id})}}" class="avatar avatar-sm mr-2">
															{% if app.doctor.googleId %}
																<img class="avatar-img rounded-circle" src="{{ app.doctor.image ? asset(app.doctor.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% else %}
																<img class="avatar-img rounded-circle" src="{{ app.doctor.image ? asset('uploads/users/' ~ app.doctor.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% endif %}

														</a>
														<a href="{{path('app_doctor_show', {'id': app.doctor.id})}}">{{app.doctor.fullname}}</a>
													</h2>
												</td>
												<td>{{app.doctor.specialty.name | specialty_label}}</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2">
															{% if app.patient.googleId %}
																<img class="avatar-img rounded-circle" src="{{ app.patient.image ? asset(app.patient.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% else %}
																<img class="avatar-img rounded-circle" src="{{ app.patient.image ? asset('uploads/users/' ~ app.patient.image) : asset('uploads/users/defaultUser.png') }}" alt="User Image">
															{% endif %}
														</a>
														<a href="profile.html">{{app.patient.fullname}}
														</a>
													</h2>
												</td>
												<td>{{app.appointmentDate | date('d-m-Y')}}
													<span class="text-primary d-block">{{app.appointmentTime}}</span>
												</td>
												<td>
													{{app.status | status_badge}}
												</td>
												<td>
													{{app.price | currency_vnd}}
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Recent Orders -->

				</div>
			</div>

		</div>
	</div>
</div>

<!-- /Page Wrapper -->{% endblock %}{# {% block JSCustom %}
			<script src="{{asset('admin/assets/plugins/raphael/raphael.min.js')}}"></script>
			<script src="{{asset('admin/assets/plugins/morris/morris.min.js')}}"></script>
			<script src="{{asset('admin/assets/js/chart.morris.js')}}"></script>{% endblock %} #}
