{% extends 'baseCustomer.html.twig' %}

{% block title %}Thông tin bệnh nhân
{% endblock %}

{% block styleCustom %}
	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{{asset('customer/assets/css/bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block body %}
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div
					class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">

					<!-- Profile Widget -->
					<div class="card widget-profile pat-widget-profile">
						<div class="card-body">
							<div class="pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										{% if patient.googleId %}
											<img src="{{patient.image ? asset(patient.image) : asset('uploads/users/default.png')}}" alt="User Image">
										{% else %}

											<img src="{{patient.image ? asset('uploads/users/' ~ patient.image) : asset('uploads/users/default.png')}}" alt="User Image">
										{% endif %}
									</a>
									<div class="profile-det-info">
										<h3>{{patient.fullname}}</h3>

										<div class="patient-details">
											<h5>
												<b>Mã BN :</b>
												#P{{patient.id}}</h5>
											<h5 class="mb-0">
												<i class="fas fa-map-marker-alt"></i>
												{{patient.address}}</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="patient-info">
								<ul>
									<li>Số điện thoại
										<span>{{patient.phoneNumber ?? 'Trống'}}</span>
									</li>
									<li>Tuổi - Giới tính
										<span>{{patient.dateOfBirth ? patient.dateOfBirth|date('d/m/Y') : 'Trống'}},
											{{patient.gender ?? 'Trống'}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Profile Widget -->

					<!-- Last Booking -->
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Cuộc hẹn gần nhất</h4>
						</div>
						<ul class="list-group list-group-flush">

							{% for appointment in appointments|slice(0,2) %}
								<li class="list-group-item">
									<div class="media align-items-center">
										<div class="mr-3">
											<img alt="Image placeholder" src="{{appointment.doctor.image ? asset('uploads/users/' ~ appointment.doctor.image) : asset('uploads/users/default.png')}}" class="avatar rounded-circle">
										</div>
										<div class="media-body">
											<h5 class="d-block mb-0">
												{{ appointment.doctor.fullname }}
											</h5>
											<span class="d-block text-sm text-muted">
												{{ appointment.doctor.specialty.name | specialty_label}}
											</span>
											<span class="d-block text-sm text-muted">
												{{ appointment.appointmentDate|date('d-m-Y') }}
											</span>
										</div>
									</div>
								</li>
							{% endfor %}


						</ul>
					</div>
					<!-- /Last Booking -->

				</div>

				<div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
					<div class="m-2">
						<a class="btn btn-sm btn-warning rounded mr-2" href="{{path('app_doctor_patient')}}">
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
							Trở về</a>
					</div>
					<div class="card">


						<div class="card-body pt-0">
							<div class="user-tabs">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified flex-wrap">
									<li class="nav-item">
										<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Cuộc hẹn</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="#billing" data-toggle="tab">
											<span>Hóa đơn</span>
										</a>
									</li>
								</ul>
							</div>
							<div
								class="tab-content">

								<!-- Appointment Tab -->
								<div id="pat_appointments" class="tab-pane fade show active">
									<div class="card card-table mb-0">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<thead>
														<tr>
															<th>Bác sĩ</th>
															<th>Ngày khám</th>
															<th>Tổng tiền</th>
															<th>Trạng thái</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														{% for app in appointments %}

															<tr>
																<td>
																	<h2 class="table-avatar">
																		<a href="{{path('user_profile_settings')}}" class="avatar avatar-sm mr-2">
																			<img class="avatar-img rounded-circle" src="{{app.doctor.image ? asset('uploads/users/' ~ app.doctor.image) : asset('uploads/users/default.png')}}" alt="User Image">
																		</a>
																		<a href="{{path('user_profile_settings')}}">{{app.doctor.fullname}}
																			<span>{{app.doctor.specialty.name | specialty_label}}</span>
																		</a>
																	</h2>
																</td>
																<td>{{ app.appointmentDate | date('d/m/Y') }}
																	<span class="d-block text-info">{{app.appointmentTime}}</span>
																</td>
																<td>{{app.price | currency_vnd}}</td>
																<td>{{ app.status | status_badge | raw }}</td>


																<td class="text-right">
																	<div class="table-action">
																		<a href="{{path('app_doctor_patient_appointment_show', {'id':app.id})}}" class="btn btn-sm bg-info-light">
																			<i class="far fa-eye"></i>
																			Xem
																		</a>

																		<a href="{{path('app_doctor_appointment_edit', {'id': app.id})}}" class="btn btn-sm bg-success-light">
																			<i class="fas fa-check"></i>
																			Duyệt
																		</a>
																	</div>
																</td>
															</tr>
														{% else %}
															<tr>
																<td class="text-center" colspan="6">Chưa có dữ liệu</td>
															</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Appointment Tab -->

								<!-- Billing Tab -->
								<div class="tab-pane" id="billing">

									<div class="card card-table mb-0">
										<div class="card-body">
											<div class="table-responsive">

												<table class="table table-hover table-center mb-0">
													<thead>
														<tr>
															<th>Mã HĐ</th>
															<th>Bác sĩ</th>
															<th>Tổng tiền</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														{% for invoice in invoices %}

															<tr>
																<td>
																	<a href="invoice-view.html">#I{{invoice.id}}</a>
																</td>
																<td>
																	<h2 class="table-avatar">
																		<a href="{{path('user_profile_settings')}}" class="avatar avatar-sm mr-2">
																			<img class="avatar-img rounded-circle" src="{{invoice.doctor.image ? asset('uploads/users/' ~ invoice.doctor.image) : asset('uploads/users/default.png')}}" alt="User Image">
																		</a>

																		<a href="{{ path('user_profile_settings') }}">
																			<span class="d-block text-info">
																				{{ invoice.doctor.specialty.name  | specialty_label}}
																			</span>
																			{{ invoice.doctor.fullname }}
																		</a>
																		<div class="d-flex flex-column"></div>

																	</h2>
																</td>
																<td>{{invoice.price | currency_vnd}}</td>
																<td class="text-right">
																	<div class="table-action">
																		{# <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																			<i class="fas fa-print"></i>
																			In
																		</a> #}
																		<a href="{{path('app_doctor_patient_appointment_show', {'id':invoice.id})}}" class="btn btn-sm bg-info-light">
																			<i class="far fa-eye"></i>
																			Xem
																		</a>

																	</div>
																</td>
															</tr>
														{% else %}
															<tr>
																<td class="text-center" colspan="4">Chưa có dữ liệu</td>
															</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- Billing Tab -->

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->
{% endblock %}


{% block JSCustom %}
	<!-- Datetimepicker JS -->
	<script src="{{asset('customer/assets/js/moment.min.js')}}"></script>
	<script src="{{asset('customer/assets/js/bootstrap-datetimepicker.min.js')}}"></script>
{% endblock %}
